@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to Clinix

<ul class="nav flex-column">
	<li class="nav-item"><a class="nav-link" href="/appointments/schedule">Schedule Appointment</a></li>
	<li class="nav-item"><a class="nav-link" href="/appointments/provider/{provider-guid-here}">Doctor Schedule</a></li>
	<li class="nav-item"><a class="nav-link" href="/appointments/patient/{patient-guid-here}">My Appointments</a></li>
	<li class="nav-item"><a class="nav-link" href="/provider/settings/{provider-guid-here}">My Working Hours</a></li>
</ul>